<h2><%= @skeletons.name %></h2>
	<div id="content">
		<div id="bonePile">
			<% @skeletons.bones.each_with_index do |bone, i| %>
			 	<div class="draggable" id="bone<%= i %>">
				<%= bone.name %>
			 	</div>
			<% end %>
		</div>
		
		<div id="match"></div>
	</div>

<br>

<div class="clear">
	<button><%= link_to 'Bones Description', game_skeleton_bones_path(@game, @skeletons) %></button>	
	<button><%= link_to 'LEVELS', game_skeletons_path(@game) %></button>
</div>