<h2><%= @skeletons.name %></h2>
	<div id="content">
		<div id="bonePile">
			<% @skeletons.bones.each_with_index do |bone, i| %>
			 	<div class="draggable" id="bone<%= i %>">
					<%= bone.name %>
			 	</div>
			<% end %>
		</div>
		
		
			<div class="skeletons-img">
				<%= image_tag(@skeletons.skeleton_img, :id=> @skeletons.name) %>
				<%= image_tag(@skeletons.skeleton_img3) %>
				<%= image_tag(@skeletons.skeleton_img2) %>
			</div>
		
		
		<div id="match"></div>
	</div>

<div class="next-level">
	<p class="congrats">Congratulations! You did it!</p>
	<button class="button-nextLevel">Next Level</button>
</div>

<br>

<div class="clear">
	<button><%= link_to 'Bones Description', game_skeleton_bones_path(@game, @skeletons) %></button>	
	<button><%= link_to 'LEVELS', game_skeletons_path(@game) %></button>
</div>